/* App.css */

.material-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.material-input-container input {
  padding: 10px;
  margin-bottom: 10px;
}

.material-input-container span {
  font-size: 14px;
  color: #616161;
}

.material-checkbox {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  /* 1行に最大10個のチェックボックス */
  width: 10%;
  min-width: 20px;
  white-space: nowrap;
  /* 行間 */
  margin-bottom: 1em;
}

.material-checkbox label {
  font-size: 1.2em;
}

.material-checkbox input {
  transform: scale(2);
  margin-top: 5px;
}
